@font-face {
  font-family: 'Pretendard-Light';
  src: url('./fonts/Pretendard-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('./fonts/Pretendard-Regular.ttf') format(truetype);
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('./fonts/Pretendard-Bold.ttf') format(truetype);
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('./fonts/Pretendard-Medium.ttf') format(truetype);
}

body {
  margin: 0;
  font-family: 'Pretendard-Regular', 'Pretendard-Light', 'Pretendard-Bold', 'Pretendard-Medium', -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
